<div class="row">
	<div class="col-sm-12">
		<h1>Jobs</h1>
		<p>Set up and administer the various api-scraping jobs from the API's defined in the lib/resources folder</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		 <% flash.each do |name, msg| -%>
			<%= content_tag :div, msg , class: "alert alert-#{name} alert-dismissable" do %>
				<%= msg %>
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<% end -%>
		<% end -%>
		<div class="panel panel-default">
			<div class="panel-heading">Current Jobs</div>
			<div class="panel-body tabel-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>API</th>
							<th>Filters</th>
							<th>Time of execution</th>
							<th>Remove</th>
						</tr>
					</thead>
					<tbody>
						<% @jobs.each do |job| %>
							<tr>
								<td><a href="#" id="name" class="editable" data-type="text" data-resource="job" data-name="name" data-url="/admin/jobs/<%= job.id %>" data-original-title="Enter username"><%= job.name %></a></td>
								<td><a href="#" id="desc" class="editable" data-type="textarea" data-resource="job" data-name="desc" data-url="/admin/jobs/<%= job.id %>" data-original-title="Enter description"><%= job.desc %></a></td>
								<td><%= job.api %></td>
								<td><%= job.filters %></td>
								<td><a href="#" id="toe" class="editable" data-type="date" data-resource="job" data-name="toe" data-url="/admin/jobs/<%= job.id %>" data-original-title="Enter time of execution"><%= job.toe %></a></td>
								<td><%= button_to 'X', {:controller => :jobs, :action => 'destroy', :id => job.id }, :method => :delete, :class => "btn btn-danger btn-circle" %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				Add a job
			</div>
			<div class="panel-body">
				<%= form_for :job do |f| %>
				<div class="form-group">
					<%= f.label :name %><br />
					<%= f.text_field :name,  :class => "form-control" %>
					<%= f.label :desc , "Description" %><br />
					<%= f.text_area :desc, :class  => 'form-control' %>
					<%= f.label :api , "API" %><br />
	 				<%= f.select :api, @available_apis,  {}, :class => "form-control" %>
					<%= f.label :filters %><br />
					<%= f.text_area :filters, :class => "form-control" %>
					<%= f.label :toe ,"Time of execution" %><br />
					<%= f.datetime_field :toe,  :class => "form-control" %>
					</div>
					<button type="submit" class="btn btn-default">Add Job</button>
				<% end -%>
				</form>
			</div>

		</div>
	</div>
	<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					Completed Jobs
				</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>Description</th>
								<th>API</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								
							</tr>
						</tbody>
					</table>
				</div>
			</div>

	</div>
</div>